.login, .register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form, .register-form {
  @extend .w-100;

  max-width: 300px;

  &__title {
    @extend .h3, .mb-3, .fw-normal;
  }

  &__field {
    @extend .form-floating;
  }

  &__submit-button {
    @extend .w-100,.btn, .btn-lg, .btn-primary;
  }
}

.login-form {
  @extend .text-center;
}
