{% extends 'base.html.twig' %}

{% block title %}{{ 'authentication.authentication'|trans }}{% endblock %}

{% block body %}
    <div class="login">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="login-form" action="{{ path('app_login') }}" method="post">
            <h1 class="login-form__title">{{ 'authentication.please_login'|trans }}</h1>

            <div class="login-form__field">
                <input type="email"
                       id="email"
                       class="form-control"
                       name="_username"
                       placeholder="name@example.com"
                       data-form-type="email"
                >
                <label for="email">{{ 'authentication.email_address'|trans }}</label>
            </div>

            <div class="login-form__field">
                <input type="password"
                       id="password"
                       class="form-control"
                       name="_password"
                       placeholder="Password"
                       data-form-type="password"
                >
                <label for="password">{{ 'authentication.password'|trans }}</label>
            </div>

            <button class="login-form__submit-button mt-2 mb-3"
                    type="submit"
            >
                {{ 'authentication.login'|trans({}, 'messages') }}
            </button>

            <a href="{{ path('app_register') }}">{{ 'authentication.not_already_registered'|trans }}</a>
        </form>
    </div>
{% endblock %}