{% extends 'base.html.twig' %}

{% block title %}{{ 'authentication.register'|trans }}{% endblock %}

{% block body %}
    <div class="register">
        {#
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        #}

        {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
            <h1 class="register-form__title">{{ 'authentication.please_register'|trans }}</h1>

            {{ form_row(registrationForm.email) }}

            {{ form_row(registrationForm.plainPassword) }}

            {{ form_row(registrationForm.agreeTerms) }}

            <button class="register-form__submit-button mt-2 mb-3"
                    type="submit"
            >
                {{ 'authentication.register'|trans({}, 'messages') }}
            </button>

            <a href="{{ path('app_login') }}">{{ 'authentication.already_registered'|trans }}</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
